@import url("Buttons.css");

:root {
  --var-sidebar-bg-color: #f0f0f0;
  --var-fav-button: #f03eab;
  --var-fav-border: #f03eab8a;
}
@media (prefers-color-scheme: dark) {
  :root {
    --var-sidebar-bg-color: #3a3a3a;
    --var-fav-button: #a01d6c;
    --var-fav-border: #a01d6c8a;
  }
}

#articleTitle {
  grid-row: 1;
  grid-column: 1;
  margin: auto 0;
}
#picturesZone {
  grid-row: 2;
  grid-column: 1;
}
#articleDescription {
  grid-row: 3;
  grid-column: 1;
}
#sidebarPrice {
  grid-row: 1;
  grid-column: 2;
  flex-direction: row;
  background-image: url("../img/money.png"), linear-gradient(rgba(1,1,1,0.5));
  background-position: 110% 0%;
  background-size: 40%;
  background-repeat: no-repeat;
  gap: 0;
}
#sidebarAuthor {
  grid-row: 2;
  grid-column: 2;
}

#mainClass {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}
#authorProps {
  display: flex;
  gap: 20px;
}
#price {
  font-size: 30px;
  margin: 20px 5px;
  text-align: center;
  flex: 1;
}
#authorProps > img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 20px;
}
#authorProps {
  align-items: center;
  gap: 10px;
  margin: 10px 5px;
}
.annonceProps {
  margin-top: auto;
  font-size: 14px;
}
.annonceProps > p {
  margin: 5px;
  text-align: center;
}
#authorDesc > * {
  margin: 0;
}
#authorDesc > p {
  font-size: 15px;
}
#authorDesc > h3 {
  font-size: 22px;
}
.sidebarItem {
  width: 320px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  height: auto;
  border-radius: 10px;
  background-color: var(--var-sidebar-bg-color);
  padding: 10px;
}


#picturesZone {
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
#picturesZone > :first-child {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}
#picturesZone > :nth-child(2) {
  grid-column: 2;
  grid-row: 1;
}
#picturesZone > :last-child {
  grid-column: 2;
  grid-row: 2;
}

/* Une seule image */
#picturesZone > :first-child:last-child {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

/* Deux images uniquement */
#picturesZone > :nth-child(2):last-child {
  grid-row-start: 1;
  grid-row-end: 3;
}

#picturesZone > * {
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  min-height: fit-content;
}



#commentaires {
  margin-top: 75px;
}

#commenter {
    display: flex;
    gap: 5px;
    flex-direction: column;
    width: 100%;
    resize: vertical;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--var-sidebar-bg-color);
    border: none;
    transition: box-shadow 0.2s;
}

.commentInput {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: 'Cera Pro';
  font-size: 22px;
  font-weight: bold;
  color: var(--var-text);
}

textarea.commentInput {
  min-height: 80px;
  resize: vertical;
  font-family: 'Cera Pro';
  font-weight:normal;
  font-size: 17px;
}

#commenter:has(.commentInput:focus) {
    outline: none;
    box-shadow: 0 0 10px -3px var(--var-box-shadow-med);
}

#commentActions {
  display: flex;
  flex-direction: row;
  align-items:flex-end;
  justify-content: end;
  gap: 20px;
}

#deleteBtn {
  margin-right: auto;
  background-color: #a01d1d;
}

#commenter input[type="submit"], #deleteBtn {
  right: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 120px;
  text-align: center;
  border: none;
  color: white;
  font-family: 'Google Sans Medium';
  font-size: 15px;
  transition: background-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

#commenter input[type="submit"] {
  background-color: var(--var-cta-button);
}

#commenter input[type="submit"]:hover, #deleteBtn:hover {
  box-shadow: 0 0 16px -3px var(--var-box-shadow-light);
}
#commenter input[type="submit"]:hover {
  background-color: var(--var-cta-hover);
}

#commenter input[type="submit"]:focus, #deleteBtn:focus {
  transform: scale(0.95);
}

.starIsChecked {
  color: orange;
}

#commentaireScrollable {
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
  margin-top: 20px;
}

.commentaireEntete {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.commentaire > div {
  background-color: var(--var-sidebar-bg-color);
  padding: 10px 20px;
  border-radius: 10px;
}

.commentaire {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 0 20px;
}

.commentaire img {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column: 1;
  border-radius: 25px;
  width: 50px;
  height: 50px;
}

.commentaire h3 {
  margin: 0 0 10px 0;
}

.commentaire p {
  margin: 5px 0;
}

.commentaire h3, .commentaire > div {
  grid-column: 2;
}

.commentaireEntete h3 {
  margin-top: 5px;
}


/* === NOTATION ÉTOILÉE === */
#half-stars-example {
  right: 150px;
}

#half-stars-example .rating-group {
  display: inline-flex;
}
#half-stars-example .rating__icon {
  pointer-events: none;
}
#half-stars-example .rating__input {
  position: absolute;
  left: -9999px;
}
#half-stars-example .rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 1.75rem;
}
#half-stars-example .rating__label--half {
  padding-right: 0;
  margin-right: -0.6em;
  z-index: 1;
}
#half-stars-example .rating__icon--star {
  color: orange;
}
#half-stars-example .rating__icon--none {
  color: #eee;
}
#half-stars-example .rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}
#half-stars-example .rating-group:hover .rating__label .rating__icon--star, #half-stars-example .rating-group:hover .rating__label--half .rating__icon--star {
  color: orange;
}
#half-stars-example .rating__input:hover ~ .rating__label .rating__icon--star, #half-stars-example .rating__input:hover ~ .rating__label--half .rating__icon--star {
  color: #ddd;
}
/* ====== */
