:root {
    --var-input-border: var(--var-box-shadow-light);
    --var-separator-modal: rgba(155, 155, 155, 0.3);
}

@media (prefers-color-scheme: dark) {
    :root {
        --var-input-border: transparent;
        --var-separator-modal: rgba(100, 100, 100, 0.75);
    }
}

main {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex: auto;
    background-image: url("../img/register.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column;
}
#bgFilter {
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex: 1;
    backdrop-filter: brightness(70%);
}
#imageDiv {
    flex: 1;
    align-self: center;
    margin-bottom: 75px;
}
@media (max-width: 800px) {
    #bgFilter {
        flex-direction: column;
    }
    #imageDiv {
        margin-bottom: 0;
    }
}
#imageDiv img {
    max-width: 100%;

}
#loginForm {
    flex: 1;
    max-width: calc(var(--var-max-page-width) / 2);
    box-shadow: 0 2px 16px -3px var(--var-box-shadow-light);
    border-radius: 10px;
    padding: 20px;
    background-color: var(--var-background-color);
    backdrop-filter: blur(30px);
    margin: auto;
}

fieldset {
    border: none;
    padding: 0;
}
.inline {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.inline > * {
    flex: 1;
}
form input[type="text"], form input[type="password"], form input[type="email"], form select {
    background-color: var(--var-searchbar-color);
    padding: 8px;
    border-radius: 8px;
    color: var(--var-text);
    font-family: 'Cera Pro';
    border: var(--var-input-border) solid 0.5px;
    transition: box-shadow 0.25s, background-color 0.25s, border-color 0.25s;
}
form input[type="text"]:focus, form input[type="password"]:focus, form input[type="email"]:focus, form select:focus {
    box-shadow: 0 2px 16px -3px var(--var-box-shadow-light);
    background-color: var(--var-searchbar-hover);
    outline: none;
    border-color: var(--var-searchbar-color);
}
form input[type="submit"] {
    background-color: var(--var-cta-button);
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    width: 50%;
    margin: 30px auto auto auto;
    display: block;
    font-family: 'Google Sans Medium';
    font-size: 15px;
    color: white;
    transition: background-color 0.25s, box-shadow 0.25s, width 0.25s;
    cursor: pointer;
}
form input[type="submit"]:hover, form input[type="submit"]:focus {
    background-color: var(--var-cta-hover);
    box-shadow: 0 2px 16px -3px var(--var-box-shadow-med);
    width: 55%;
    outline: none;
}

fieldset {
    margin-bottom: 30px;
}
#modalFooter {
    padding-top: 20px;
}

.entries, .entryFrame {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.entryFrame h3 {
    margin: 0;
}
#loginForm p {
    font-size: 15px;
    text-align: center;
    margin: 0 0 10px 0;
}
#loginForm a {
    border: var(--var-cta-hover) solid 0.5px;
    padding: 8px 15px;
    border-radius: 8px;
    color: var(--var-cta-hover);
    margin: auto;
    display: block;
    width: fit-content;
    transition: background-color 0.25s, color 0.25s;
}
#loginForm a:hover, #loginForm a:focus {
    background-color: var(--var-cta-hover);
    color: white;
    outline: none;
}

#modalFooter {
    width: 75%;
    margin: auto;
    border-top: solid var(--var-separator-modal) 0.5px;
}